* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    padding: 3px 20px 20px 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    background-color: #002b03;
}

header h1 {
    color: #ffcc00;
    text-shadow: 2px 2px #000;
    font-size: 30px;
}

header h2 {
    font-size: 40px;
    color: #ccc;
    margin-top: 10px;
}

.catalogo {
    background-color: #3d0042;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #1a1a1a;
    border: 3px solid #ffcc00;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    border-color: #00ffff;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card h2{
    font-size: 10px;
    margin: 10px 0 5px;
    color: #00ffff;
}

.card p {
    font-size: 20px;
    color: #aaa;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 8px;
    color: #666;
}
p{
    font-size: xx-large;
}